/* Styling the DisplayPageContainer div. */

.DisplayPageContainer{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    color: black;
}

.DisplayPageContentContainer{
    text-align: center;
    height: 80vh;
}

.welcomeChess{
    text-decoration: underline;
    font-size: 5rem;
    margin-bottom: 50px;
}

.enterPlayerName{
    margin-bottom: 25px;
}

.welcomeChessPlayer{
    margin-top: 25px;
}

.wishPlayerWell{
    margin-top: 25px;
    margin-bottom: 30px;
}

.informingParagraph{
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 1.2rem;
    color: orangered;
}

.linkToAppPage{
    color: black;
    text-decoration: none;
    border: solid black;
    border-radius: 5px;
    padding: 10px;
}

.linkToAppPage:hover{
    background: orangered;
    transition: ease-in 0.5s;
    border: solid whitesmoke;
    color: whitesmoke;
    background-color: black;
}

.playerNameInput{
    height: 30px;
    width: 200px;
    font-size: 1rem;
}