/* Styling the squares on the chess board. */

.square-darkblue{
    background: rgb(184, 139, 74);
  }
  
  .square-white{
    background: rgb(227, 193, 111);
  }

  .board-square{
    height: 100%;
    width: 100%;
  }