* {
  padding: 0;
  margin: 0;
}

/* Styling the chess board section in the App.js file. */

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  
}

.chessBoardDiv{
  height: 700px;
  width: 700px
}

/* Styling the HTML elements from the MyChessBoard.js component.*/

.chessBoard{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chessSquare{
  width: 12.5%;
  height: 12.5%;
}

/* Styling components on the IndividualSquares.js component. */

.square-black{
  background: #b59963;
}

.square-white{
  background: #F0D9B5;
}

/* The class below goes into the IndividualSquares.js component as well as the ChessBoardSquares.js component. */

.board-square{
  height: 100%;
  width: 100%;
}

/* Styling HTML elements in the ChessPieces.js component. */

.chessPieceDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: grab;
}

.individualChessPieces{
  max-width: 65%;
  max-height: 65%;
}

/* Styling the HTML elements in the PlayerPromotion.js component. */

.playerPromotionBlock{
  width: 50%;
  height: 50%;
  
}


