* {
  padding: 0;
  margin: 0;
}

/* Styling the chess board section. */

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  padding-bottom: 30px;
  margin-top: -40px;
}

.chessBoardDiv{
  height: 700px;
  width: 700px
}

.mainHeading{
  text-align: center;
  padding-bottom: 15px;
  text-decoration: underline;
}

.gameOverDiv{
  margin-right: 50px;
  width: 200px;
  height: 150px;
  text-align: center;
}

.playAgainButton{
  cursor: pointer;
  height: 50px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  background: black;
  color: #fff;
  margin-top: 30px;
}

.playAgainButton:hover{
  background: orangered;
  color: #fff;
}

.gameOverNotification{
  font-size: 1.5rem;
}

.chessGameResult{
  font-size: 1.5rem;
  padding-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 150px;
  text-align: center;
}

.rulesParagraph{
  text-align: center;
  padding-bottom: 10px;
  margin-top: -10px;
}
